-# required locals
-# * career (career object from the Blizzard API)

%h1= "#{career.battleTag} (#{career.paragonLevel})"

%table
  %tr
    %td Guild name:
    %td= career.guildName
  %tr
    %td Blacksmith level:
    %td= career.blacksmith.level

- career.heroes.sort_by { |e| e.name }.each do |hero|
  %h2= "#{hero.name} (Level #{hero.level})"
  %table
    %tr
      %td Hero ID
      %td= hero.id
    %tr
      %td Class
      %td= hero.class
    %tr
      %td Gender
      %td= hero.gender
    %tr
      %td Elite kills
      %td= number_with_delimiter(hero.kills.elites)
